html {
  background-color: rgba(238, 238, 238, 0.897);
  font-family: "Roboto Slab", serif;
  margin: 5px;
}

.jumbotron-brand {
  background-image: linear-gradient(15deg, #074f79 0%, #6bf5fa 100%);
  font-weight: 400;
  text-align: center;
  font-size: 75px;
  font-family: "Bebas Neue", cursive;
}

.city-container {
  /* border: 1px solid black; */
  height: auto;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 30px;
  margin: 5px;
}

.search {
  margin: 2px 5px 20px 5px;
  font-size: 20px;
}

.form-control {
  width: 97%;
}

.submitbtn {
  margin: 2px 5px 20px 5px;
  background-color: #074f79;
  color: antiquewhite;
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  font-size: 20px;
  border-radius: 5px;
  width: 97%;
}

ul.cities-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cities-list-item {
  background-color: #7a1c0c;
  color: antiquewhite;
  height: auto;
  margin: 2px 5px 20px 5px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}

.current-weather-card {
  border: 1px solid black;
  margin-left: 10px;
}

.green {
  background-color: #259908;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}
